
.home-grid{
    margin-top: 100px !important;
}

.main-page .drawer-button{
    display: none;
}

.disclaimer-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    background-color: #FFFFFF;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 2.5em 1em 2.5em 1em;
}

#disclaimer-modal-title{
    text-align: center !important;
}
#disclaimer-modal-description{
    font-family: 'Nunito Sans', sans-serif;
    list-style: none;
}

.modal-checkbox-label{
    transition: opacity 0.7s ease-in;
}



.search-input{
    width: 550px;
    max-width: 90vw;
}

.diet-grid{
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    justify-content: center;
    display: inline-grid;
}

#results{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 2rem;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card-container{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    max-width: 1135px; /* wcześniej 1050 */
    overflow: hidden;

}

.card-row > table{
    padding: 0 0 1em 1em;
}

#loading{
    margin-top: 20vh;
}

.hide{
    display: none
}

@media (min-width: 500px){
    .disclaimer-modal{
        width: 40vw;
        padding: 2.5em 5em 2.5em 5em;
        
    }
}