.diet-card{
    margin: 1rem;
    /* padding: 0.5rem 2rem 2rem 2rem;  */
    padding: 0.5rem 3rem 2rem 3rem;
    min-width: 250px;
    max-width: 250px;
    max-height: 150px;
    color: black;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1px 3px 3px 2px; */
    border-radius: 7px;

}

header{
    position: relative;
    min-height: 30px;
    max-height: 30px;
    padding-bottom: 0.2em;
}

.title{
    margin-bottom: 0px;
    font-size: 1.15em;
    font-weight: 600;
}


.sub-title{
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.75em;
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.info-icon{
    /* top: 1px;
    right: 1px;
    position: absolute;
    cursor: pointer;
    transition: color 1s; */

    height: 20px;
    top: 1px;
    right: -25px;
    position: absolute;
    cursor: pointer;
    border: #000000a3 2px solid;
    border-radius: 50%;
    width: 20px;

    transition: color 0.7s border 0.7s;

}

.info-icon:hover,
.info-icon:focus{
    color: rgba(0, 0, 0, 0.221);
    border: #0000001a 2px solid;
}

main{
    font-size: 0.85em;
    padding: 1em 0.2em 0em 0.2em;
}

.card-row{
    display: inline-flex;
    width: 100%;
    justify-content: end;
}

.card-row > div{
    margin: 0.5em;
}

.card-icon{
    transform: translate(-10px, -14px);
    scale: 1.4;
}

table td {
min-width: 6em;
}


.fodmap-div,
.max-use-div,
.histamine-div{
    display: inline-flex;
}

.fodmap-logo{
    display: flex;
    flex-direction: column;
}

.fmap-cat{
    font-weight: 800;
}

.fodmap-logo,
.histamine-div{
    padding: 0 0 0 0.3em;
    font-size: 1.5em;
}

.histamine-non-mid-nums{
    transform: translateY(5px);

}

.histamine-mid-nums{
    transform: translateY(-5px);
}

.his-mid-span{
    white-space: nowrap;
}


.max-use-div{
    transform: translateX(10px);
    align-items: center;
}

.max-use{
    font-weight: 400;
    font-size: 1.5em;
    padding-left: 0.22em;
}

.fodmap-sub-div{
    transform: translate(7.5px, 6.7px);

}

.hit-icon{
    max-width: 35px;
    max-height: 35px;
}

.hit-logo{
    font-weight: 800;
}

.low-hit{
color: #FFAE42
}

.mid-hit{
color: #B0744A
}

.high-hit{
color: #983F4A
}

