# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

bazaPrzepisowlowFodmap/info/notes
bazaPrzepisowlowFodmap/info/sources/scientific/mnsh.xlsx
bazaPrzepisowlowFodmap/server/.env
bazaPrzepisowlowFodmap/server/node_modules

sprawdzFodmap/info


# dependencies
bazaPrzepisowlowFodmap/node_modules
sprawdzFodmap/node_modules


# production
bazaPrzepisowlowFodmap/build

# misc
bazaPrzepisowlowFodmap/.DS_Store
bazaPrzepisowlowFodmap/.env.local
bazaPrzepisowlowFodmap/.env.development.local
bazaPrzepisowlowFodmap/.env.test.local
bazaPrzepisowlowFodmap/.env.production.local

