

.about-page .MuiGrid-root{
    margin: 0;
    width: 100%;
}

.about-page .diet-grid{
  
    justify-content: unset;
    max-width: 100%;
    margin: auto;

}

.css-ohwg9z{
    top: 8%;
}


.info-slide{
    margin: auto;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    max-width: 480px;
    padding-bottom: 2em;
    /* transform: translateY(-0.5em); */
}

.info-slide h2{
    font-weight: 600;
    font-size: 1.5em ;
    text-align: center;
    margin-bottom: 1.5em;
}

.slide-text{
    list-style: none;
    text-align: left;
    font-size: 0.8em;
    position: relative;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.slide-text li{
    margin: 1em;
}

.about-page .li-indent{
    padding-left: 1.9em;
    text-indent: -2em;
}

.about-page .li-no-indent{
    padding-left: 1.9em;
    padding-bottom: 0.5em;
}

.ibs-tracker-span{
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.7s;
}

.ibs-tracker-span:hover{
    color: rgba(0, 0, 0, 0.555);
    cursor: help;
}

.about-page .slide-text a{
    word-wrap: break-word;
}

.about-page .slide-image{
    max-width: 200px;
}

.about-page .email-link{
    font-size: 0.9em;
    word-wrap: normal !important;
    color: #255B70;
}

.about-page .lottie{
    margin: auto;
    margin-top: 2em;
}

.about-page .lottie-link{
    color: #edeaea;
}



@media (min-width: 905px){
    .css-1abc02a .MuiButtonBase-root,
    .css-hn784z .MuiButtonBase-root{
        opacity: 0.4 !important; 
    }

    .about-page .info-slide h2{
        font-size: 1.8em ;
    }
    .about-page .slide-text{
        font-size: 1em;
    }
    
}