html {
    scroll-behavior: smooth;
  }

.table-page .category-table {
    margin: 0.8em;
    margin-top: 2em !important;
    padding-bottom: 2em;
}

.table-accordion{
    position: initial !important;
    font-family: 'Nunito Sans', sans-serif;
}


.table-page h1{
    font-size: 1.5em;
}

.table-header-main{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.7em !important;
    text-align: center;
    transform: translateY(-1.8em);
}

.table-info-div{
    margin-bottom: 2em;

    padding-bottom: 4em;
    border-bottom: 0.8px #00000014 double;
}

.accordion-list > li{
    margin: 0.5em !important;
}

.sources-header{
    margin-bottom: 0;
}

.source-list a {
    text-decoration: none;
    color: black;
}

.MuiDrawer-docked{
    width: 0px !important; /* this fixes the drawer taking up space in the grid even when it's closed */
  }

.MuiDrawer-docked .MuiDrawer-paper{
        /* backdrop-filter: brightness(0.2); */
        /* width: 74% !important; */
        background-color: #fafafafa;
        box-sizing: border-box;
}

.MuiDrawer-docked .MuiDrawer-paper a {
    font-size: 1em;
}

.table-page .drawer-button{
    position: fixed !important;
    color: black !important;
    background: #e7e7e7e1 !important;
    padding: 10px;
    font-size: 2em !important;
    right: 5px;
    bottom: 25px;

    /* display: flex; */
 
}

.drawer-button > svg{
    font-size: 1.1em;
    transform: translateY(-0.5px); /* 2px for foodbank icon in case I want to go back to it */ 

} 



.table-accordion{
    box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.2) !important;
}

.button-scroll{
    overflow: auto;
    white-space: nowrap;
    width: 75%;
    margin: auto;
    padding: 1em;
    color: brown;
    left: 8%;
    top: 25%;
    white-space: normal;
    overflow: hidden;
    /* padding-right: 6em; */
    /* border-right: 1px rgba(0, 0, 0, 0.04) solid; */


    /* position: fixed; */
}

.button-scroll a{
    font-size: 0.8em;
}


/* .button-scroll-widescreen{
    position: fixed;
} */

.button-scroll > a {
    white-space: nowrap;
}

.button-scroll > a:last-of-type{
    white-space: nowrap  !important;
    padding-top: 1em;
}

.button-scroll button{
    width: 144px;
}



.table-grid{
   right: 25%; 
   margin: auto;
   margin-top: 6em;
   margin-left: 0;
}

.category-list{
    margin: auto;
}

.table-div{
    margin-top: 8em;
}

.table-page table{
    table-layout: fixed;
    padding: 1.5em;

}

.table-page th{
    font-size: 1rem !important; 
    background-color: #00000003;

}

.fodmap-table-div{
    padding: 0.7em;
    text-align: center;
    font-weight: 600;
}

.table-page td{
    background-color: #c9c9c92e;

}

.table-product-name{
    font-size: 1.1em;
}

.low-fodmap-table-cell{
    background-color: #4CAF50 !important;
}

.mid-fodmap-table-cell{
    background-color: #FFC107 !important;
}

.high-fodmap-table-cell{
    background-color: #F54335 !important;
}

@media (min-width: 905px) {
    .button-scroll{
        position: sticky !important;
        width: 90px;
        left: 8%;
        top: 25%;
        white-space: normal;
        overflow: hidden;
        margin-top: 6em;

        display: table; /* fixes bug that makes it not stick in Firefox */
 
        padding-right: 6em;
        border-right: 1px rgba(0, 0, 0, 0.04) solid;
    }

    .button-div-break,
    .drawer-button{
        display: none !important;
    }
}

@media (max-width: 905px) {
    .button-scroll-widescreen{
        display: none;
    }
}

@media (max-width: 500px){
    .table-page table th,
    .table-page table td{
        font-size: 0.7em !important;
    }
    
}
